node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Nestjs specific
/dist
/node_modules
/build
/tmp

#pnpm specific
.pnpm-store/ 

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
