@import "tailwindcss";

body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
  border-radius: 9999px;
  border-bottom-width: 2px;
  border-color: currentColor;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}